*.html linguist-vendored
*.py linguist-detectable=true
*.jinja linguist-detectable=true
*.jinja2 linguist-detectable=true

# Ignore TeX
*.tex linguist-detectable=false
*.tex linguist-vendored

*.html linguist-detectable=false
*.css linguist-detectable=false
*.js linguist-detectable=false

dist/* linguist-generated=true
build/* linguist-generated=true
*.egg-info/* linguist-generated=true
