agent-detector==2.0.0
aiohappyeyeballs==2.7.1
aiohttp==3.14.3
aiosignal==1.4.0
alembic==1.19.2
altgraph==0.17.5
annotated-doc==0.0.5
annotated-types==0.8.0
anyio==4.13.0
archspec==0.2.6
argcomplete==3.6.3
asgiref==3.12.1
astc-encoder-py==0.1.12
attrs==26.1.0
Authlib==1.5.2
azure-common==1.1.28
azure-core==1.38.0
azure-identity==1.25.3
azure-mgmt-core==1.6.0
azure-mgmt-rdbms==10.2.0b17
azure-mgmt-resource==24.0.0
azure-mgmt-subscription==3.0.0
babel==2.18.0
bcrypt==4.3.0
Beaker==1.12.1
beautifulsoup4==4.15.0
bidict==0.23.1
bleak==3.0.2
blinker==1.9.0
blivet @ file:///builddir/build/BUILD/python-blivet-3.14.0-build/blivet-3.14.0
boto3==1.43.52
botocore==1.43.52
Brlapi==0.8.7
Brotli==1.2.0
build==1.6.1
certifi==2026.1.4
cffi==2.0.0
charset-normalizer==3.4.4
click==8.3.3
cockpit @ file:///builddir/build/BUILD/cockpit-364-build/cockpit-364/tmp/wheel/cockpit-364-py3-none-any.whl#sha256=82c79404b2528627fced2a7ebf481b040ddae5fe359114bcfa0b986e85b0ed79
contourpy==1.3.3
crypt_r==3.13.1
cryptography==50.0.0
cssselect==1.4.0
cupshelpers==1.0
customtkinter==6.0.0
cycler==0.12.1
darkdetect==0.8.0
dasbus==1.7
dbus-fast==5.0.22
dbus-python==1.4.0
dbus_next==0.2.3
decorator==5.3.0
detect-installer==0.2.1
distro==1.9.0
Django==6.1
django-cors-headers==4.9.0
django-filter==26.1
djangorestframework==3.18.0
dncil==1.0.2
dnf==4.24.0
dnfile==0.18.0
dnspython==2.8.0
docker==7.2.0
email-validator==2.3.0
etcpak==0.9.15
evdev==1.9.3
fastapi==0.141.1
fastapi-cli==0.0.32
fastapi-cloud-cli==0.26.0
fastar==0.12.0
fedora-third-party==0.10
file-magic==0.4.0
Flask==3.1.3
flask-babel==4.1.0
Flask-Compress==1.23
Flask-Login==0.6.3
Flask-Mail==0.9.1
Flask-Migrate==4.1.0
Flask-Paranoid==0.3.0
Flask-Principal==0.4.0
Flask-Security-Too==5.6.2
Flask-SocketIO==5.6.1
Flask-SQLAlchemy==3.0.5
Flask-WTF==1.2.2
fmod_toolkit==0.1.3
fonttools==4.63.0
frozenlist==1.8.0
fsspec==2026.7.0
google-api-core==2.27.0
google-api-python-client==2.189.0
google-auth==2.47.0
google-auth-httplib2==0.3.1
google-auth-oauthlib==1.2.4
googleapis-common-protos==1.63.0
greenlet==3.3.0
gssapi==1.7.3
h11==0.16.0
html2text==2025.4.15
httpcore==1.0.9
httplib2==0.22.0
httptools==0.8.0
httpx==0.28.1
humanize==4.15.0
i3ipc==2.2.1
idna==3.18
importlib_resources==6.5.2
installer==1.0.1
iso639==0.1.4
isodate==0.7.2
itsdangerous==2.2.0
jaraco.classes==3.4.0
jaraco.context==6.1.0
jaraco.functools==4.3.0
jeepney==0.9.0
Jinja2==3.1.6
jmespath==1.0.1
jsonformatter==0.3.4
keyring==25.7.0
kiwisolver==1.5.0
langtable==0.0.71
ldap3==2.9
libcomps==0.1.24
libdnf==0.75.0
libdnf5==5.4.2.1
libgravatar==1.0.4
libpass==1.9.3
louis==3.33.0
lutris==0.5.22
lxml==6.1.1
lz4==4.4.5
Mako==1.2.3
Markdown==3.10.3
markdown-it-py==4.2.0
MarkupSafe==3.0.2
matplotlib==3.11.1
mdurl==0.1.2
mercurial==7.2.3
meson==1.11.2
mod_wsgi==5.0.2
moddb==0.12.0
more-itertools==10.8.0
msal==1.38.0
msal-extensions==1.3.1
msrest==0.7.1
multidict==6.7.1
mutagen==1.47.0
nab==0.0.18
nab-index==0.0.18
nab-markersets==0.0.18
nab-project==0.0.18
nab-provider==0.0.18
nab-resolver==0.0.18
netifaces==0.11.0
nftables==0.1
nwg-displays==0.4.3
nwg-panel==0.10.5
oauthlib==3.3.1
olefile==0.47
packaging==25.0
paramiko==3.5.1
passlib==1.9.3
Paste==3.10.1
pefile==2024.8.26
perf==0.1
pexpect==4.9.0
pid==3.0.4
pillow==12.3.0
pipdeptree==4.2.5
productmd==1.50
progressbar2==4.5.0
prompt_toolkit==3.0.53
propcache==0.5.2
proto-plus==1.22.3
protobuf==3.19.6
psutil==7.2.2
psycopg==3.3.5
psycopg2-binary==2.9.12
ptyprocess==0.7.0
pwquality==1.4.5
pyasn1==0.6.4
pyasn1_modules==0.4.2
PyAudio==0.2.13
pycairo==1.28.0
pycparser==2.22
pycrypto==2.6.1
pycryptodomex==3.23.0
pycups==2.0.4
pydantic==2.13.5
pydantic-extra-types==2.11.1
pydantic-settings==2.15.0
pydantic_core==2.46.5
pyenchant==3.3.0
pyfmodex==0.7.2
pygdbmi==0.11.0.0
Pygments==2.21.0
PyGObject==3.56.3
pyinotify==0.9.6
pyinstaller==6.22.3
pyinstaller-hooks-contrib==2026.7
PyJWT==2.10.1
pykickstart @ file:///builddir/build/BUILD/pykickstart-3.69-build/pykickstart-3.69
PyNaCl==1.6.2
pyOpenSSL==26.4.0
pyotp==2.9.0
pyparsing==3.3.2
pyparted==3.13.0
pypng==0.0.21
pypresence==4.3.0
pyproject_hooks==1.3.3
PyQt6==6.11.0
PyQt6_sip==13.11.1
pyquery==2.0.1
PySocks==1.7.1
pyTelegramBotAPI==4.36.1
python-augeas==1.2.0
python-bugzilla==3.3.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.3
python-engineio==4.14.0
python-linux-procfs==0.7.4
python-meh==0.52
python-multipart==0.0.32
python-socketio==5.16.4
python-utils==3.9.1
python-xlib==0.33
pytz==2026.3
pyudev==0.24.4
pyxdg==0.28
PyYAML==6.0.3
qrcode==8.0
questionary==2.1.1
RapidFuzz==3.14.3
regex==2026.5.9
requests==2.33.1
requests-file==3.0.0
requests-ftp==0.3.1
requests-oauthlib==2.0.0
rich==15.0.0
rich-toolkit==0.20.5
rignore==0.8.1
rpm==6.0.1
rpmautospec==0.8.4
rpmautospec-core==0.1.5
rsa==4.9
s3transfer==0.19.1
SecretStorage==3.5.0
selinux @ file:///builddir/build/BUILD/libselinux-3.10-build/libselinux-3.10/src
sentry-sdk==2.48.0
sepolicy @ file:///builddir/build/BUILD/policycoreutils-3.10-build/selinux-3.10/python/sepolicy
setools==4.6.0
setroubleshoot @ file:///builddir/build/BUILD/setroubleshoot-3.3.36-build/setroubleshoot-3.3.36/src
setuptools==83.0.0
shellingham==1.5.4
shtab==1.7.2
simple-websocket==1.1.0
simpleaudio==1.0.4
simpleline==1.9.0
six==1.17.0
sos==4.11.2
soupsieve==2.8.3
SQLAlchemy==2.0.52
sqlparse==0.6.0
sshtunnel==0.4.0
starlette==1.6.0
systemd-python==235
telebot==0.0.5
texture2ddecoder==1.0.6
tomli==2.4.1
tomli_w==1.2.0
tpk_ar==0.2.4
truststore==0.10.4
typer==0.27.2
typing-inspection==0.4.4
typing_extensions==4.15.0
ua-parser==1.0.1
ua-parser-builtins==0.18.0.post1
UnityPy==1.25.3
uritemplate==4.1.1
urllib3==2.7.0
user-agents==2.2.0
uvicorn==0.53.0
uvloop==0.22.1
watchfiles==1.3.0
wcwidth==0.8.4
websockets==15.0.1
Werkzeug==3.1.8
wsproto==1.2.0
WTForms==3.0.1
xkbregistry==0.3
yarl==1.24.5
yt-dlp==2026.6.9
